<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <main>
        <div>
            <p>Search location: {{location}}</p>
            <p>Search term: {{search_term or 'None Specified'}}</p>
            <!-- <p>Data: {{ restaurant }}</p> -->
        </div>
        <h2>Search Results:</h2>
        <div>
            {% for restaurant in restaurants %}
            <section>
                <h2>Name: {{ restaurant.get('name') }}</h2>
                {% if restaurant.image_url %} <img width=100% src="{{ restaurant.image_url }}"/> {% endif %}
                {% if restaurant.display_address %} <p>{{ restaurant.display_address }}</p> {% endif %}
                {% if restaurant.rating %} <p>Rating: {{ restaurant.rating }}</p> {% endif %}
            </section>
            {% endfor %}
        </div>
    </main>
</body>
</html>

